.wrapper {
	border: 0.35rem solid var(--slp3);
	border-radius: 1rem;
	padding: 0;
	margin-bottom: 1rem;
}

.container {
	border-radius: 0.5rem;
	/* background: rgb(255, 255, 255, 0.2); */
	background: rgb(100, 100, 100, 0.2);
	margin: 0.5rem;
	padding: 0.5rem;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 14px;
	/* width: 100%; */
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.byline {
	display: flex;
	flex-direction: row;
	align-items: center;
}
@media (max-width: 600px) {
	.byline {
		align-items: flex-start;
		flex-direction: column;
	}
}

.author {
	font-size: 12px;
	margin-left: 16px;
	margin-right: 16px;
	font-style: italic;
	color: var(--slp1);
}
@media (max-width: 600px) {
	.author {
		margin-left: 8px;
		margin-top: 8px;
	}
}

.heading {
	font-weight: bold;
	font-size: 18px;
	/* margin-top: 16px; */
	padding-bottom: 8px;

	/* text-underline-offset: 6px;
	text-decoration: underline;
	text-decoration-color: var(--slp3);
	text-decoration-thickness: 1px; */

	color: var(--bg);
	background: var(--slp3);
}

.title {
	font-weight: bold;
	color: var(--slp3);
}

.text {
	font-size: 12px;
	line-height: 1.5;
	padding: 8px;
}
